<%- include('../components/header') %>
<link rel="stylesheet" href="/css/style.css">

<div class="postContent">
  <%- include('../components/post-content') %>
</div>

<%- include('../components/footer') %>